.App {
  padding: 24px;
  background-image: url(https://c.wallhere.com/photos/28/b0/Powerpuff_Girls_Cartoon_Network_cartoon-1913709.jpg!d);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
}

.primary-content {
  display: flex;
  height: 400px;
  align-items: flex-start;
  margin: 36px 0;
}

.primary-content img {
  object-fit: contain;
  max-height: 100%;
  max-width: 50%;
  border-radius: 8px;
  border: 8px solid #C0FDFF;
}

.detail-wrapper {
  padding: 0 24px;
  background-color: #C0FDFF;
  margin-left: 24px;
  border-radius: 8px;
  min-height: 100%;
  border: 8px solid #D8BBFF;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-width: 40%;
  color:  #0a474a !important;
}

::-webkit-scrollbar {
  width: 12px;
  background-color: #ECBCFD;
}

::-webkit-scrollbar-thumb {
  height: 24px;
  background-color: #C0FDFF;
}
